.productsList li{
    flex:0 1 29rem;
    height: 47rem;
    padding: 1rem;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    height: 100%;
}

.product img{
    max-width: 37rem;
    max-height: 37rem;
}

.productPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productPrice span, .productPrice button{
    text-align: center;
    flex: 1;
}

.productPrice span{
    font-size: 2rem;
}


