.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info>div{
    font-size: 2rem;
}
.info>div, .info>button{
    flex: 1;
}

.show-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show-form>button{
    margin: 1rem 0 5rem 0;
}